body {
  font-family: 'Titillium Web', sans-serif;
  background: #000000;
  background: initial;
  background: url(../images/beautiful-bicycle-building-mobile.jpg) fixed !important;
  background-size: cover !important;
}

.mask {
  background: rgb(0,0,0);
  background: linear-gradient(180deg, 
    rgba(0,0,0,0) 0%, 
    rgba(23,42,54,0.6) 1.5%, 
    rgba(23,42,54,0.6) 98%, 
    rgba(0,0,0,0) 100%);
}

.card {
  border: none;
  overflow: hidden;
}

.card-img-top {
  transition: 2s;
}

.card-img-top:hover {
  overflow: hidden;
  transform: scale(1.05);
  transition: 3s;
}

.bg-dark {
	background-color: #222222 !important;
}

.bg-shade {
  background: rgb(23,42,54);
  background: linear-gradient(180deg, 
    rgba(23,42,54,0.9) 0%, 
    rgba(23,42,54,0) 100%);
}

.collapse {
  justify-content: flex-end;
}

/* Second navbar overlay for gradient transition */
.nav-bar-two {
  background: linear-gradient(180deg, 
    rgba(23,42,54,1) 0%,
    rgba(18, 32, 41, 0.9) 50%, 
    rgba(18, 32, 41,0.8) 90%,
    rgba(0,0,0,0) 100%);
  opacity: 0;
  transition: opacity .2s ease-in;
  z-index: 1;
}

.bg-shade-dark {
  background: linear-gradient(180deg, 
    rgba(23,42,54,1) 0%, 
    rgba(18, 32, 41, 0.9) 50%, 
    rgba(18, 32, 41,0.8) 85%,
    rgba(0,0,0,0) 100%);
  opacity: 1;
  transition: opacity .2s ease-in;
}

h2,
.nav-item {
	font-weight: 700;
	text-transform: uppercase;
}

.flare {
	font-weight: 900;
	text-transform: uppercase;
}

.glow {
  text-shadow: 
    0 0 15px rgba(255,255,255,.5), 
    0 0 10px rgba(255,255,255,.5);
}

.btn:hover {
  text-shadow: 
    0 0 15px rgba(255,255,255,.5), 
    0 0 10px rgba(255,255,255,.5);
}

.jumbotron {
  background: none;
  height: 93vh;
}

/* SVG images */

.st2 {
  fill: #EBEBEB;
}

.st3 {
  fill: #ffffff;
}

@media screen and (min-width: 500px) {
  body {
    background: url(../images/beautiful-bicycle-building-crop.jpg) fixed !important;
	  background-size: cover !important;
  }
  .jumbotron {
    height: auto;
  }
  .jquery {
    padding-top: 80px !important;
  }
  
  .bootstrap {
    padding-top: 75px !important;
  }
}

@media screen and (min-width: 768px) {
  .jumbotron {
    height: auto;
  }
  .javascript {
    padding-top: 40px !important;
  }
  .svg {
    margin-left: -10px !important;
  }
}

@media screen and (min-width: 992px) {
  .jquery {
    padding-top: 120px !important;
  }
  .bootstrap {
    padding-top: 110px !important;
  }
  .javascript {
    padding-top: 60px !important;
  }
}

@media screen and (min-width: 1200px) {
  .jquery {
    padding-top: 60px !important;
  }
  .bootstrap {
    padding-top: 55px !important;
    padding-right: 0px !important;
  }
  .javascript {
    padding-top: 30px !important;
  }
  .svg {
    padding-left: 35px !important;
    margin-left: -10px !important;
  }
}